.featured {
	background-image: url(../../img/featured-bg.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 1080px;
	position: relative;
}

.featured__container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.featured__stories {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 35.3%;
	background-color: rgba(17, 31, 42, 0.9);
	padding: 126px 133;
}


.blog-article {
	padding-bottom: 105px;
}

.blog-article__category {
	font-weight: 800;
	font-size: 11px;
	line-height: 1;
	text-align: center;
	letter-spacing: 2px;
	color: var(--white-color);
	background-color: var(--accent-color);
	border-radius: 24px;
	padding: 17px 24px;
	display: inline-block;
	text-transform: uppercase;
	margin-bottom: 19px;
}

.blog-article__title {
	font-weight: 700;
	font-size: 48px;
	line-height: 64px;
	color: var(--white-color);
	max-width: 40%;
	margin-bottom: 17px;
	letter-spacing: -2.2px;
}

.blog-article__descr {
	font-family: 'SFCompact', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: var(--white-color);
	margin-bottom: 102px;
	max-width: 40%;
}

.blog-article__link {
	background-color: var(--neptune-color);
	/* display: inline-block; */
}

.featured__title {
	font-weight: 700;
	font-size: 64px;
	line-height: 80px;
	color: var(--white-color);
	padding: 126px 131px;
}

.featured__list {}

.feature-list {
	padding: 126px 131px;
}

.feature-list__article {}

.feature-list__image {}

.feature-list__text {}

.feature-list__title {}

.feature-list__time {}
