.footer {
	border-top: 1px solid #d9d9d9;
	padding-top: 124px;
}

.footer__container {
	justify-content: space-between;
}

.footer__title {
	position: relative;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 2.15px;
	text-transform: uppercase;
	color: #100E0B;
	padding-bottom: 35px;
	margin-bottom: 35px;
}

.footer__title::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	background: #57A773;
	width: 48px;
	height: 1px;
}

.footer__link {
	font-size: 13px;
	line-height: 29px;
	color: #959EA6;
	display: inline-block;
	margin-bottom: 12px;
	transition: color 0.3s;
}

.footer__link:hover{
	color: #484a4b;
	transition: color 0.3s;
}

.subs-form {
	width: 368px;
	position: relative;
}

.subs-form__field {
	position: absolute;
	width: 100%;
	height: 64px;
	border: 1px solid #E4E4E4;
	border-radius: 8px;
	padding-left: 31px;
	background-image: url(../../img/icon-user.svg);
	background-position: calc(100% - 31px) center;
	background-repeat: no-repeat;
}

.subs-form__btn {
	width: 100%;
	background-color: var(--neptune-color);
	height: 64px;
	margin-top: 90px;
	padding-top: 25px;
	transition: background-color 0.3s;
}

.subs-form__btn:hover{
	background-color: var(--neptune-hover-color);
	transition: background-color 0.3s;
}


.footer__bottom {
	border-top: 1px solid #d9d9d9;
	margin-top: 120px;
	padding: 30px 0;
	font-size: 13px;
	line-height: 15px;
	color: #959EA6;
}

.bottom__container{
	justify-content: space-between;
}

.footer__links {
	display: flex;
}

.footer__links-item {
	margin-left: 35px;
}
