.newsletter {
	padding-top: 52px;
}

.newsletter__content {
	position: relative;
	--newsletter-gap: 133px;
	overflow: hidden;
	border-radius: 8px;
	background-image: url(../../img/newsletter-bg.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	display: flex;
	justify-content: space-between;
	padding: 0 var(--newsletter-gap);
	padding-top: 338px;
	padding-bottom: 160px;
}

.newsletter__text {
	max-width: 370px;
}

.newsletter__title {
	color: var(--white-color);
	letter-spacing: -3px;
	margin-bottom: 40px;
}

.newsletter__descr {
	font-family: 'SFCompactText', sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	color: var(--white-color);
}

.newsletter__form {
	position: absolute;
	bottom: 0;
	right: var(--newsletter-gap);
}

.subscribe-form {}

.subscribe-form__field {}

.btn {}

.btn-rest {}

.subscribe-form__btn {}
