:root {
	--white-color: #fff;
	--black-color: #000;
	--dark-color: #1c2e3d;
	--accent-color: #e8594e;
	--neptune-color: #a6d1eb;
	--accent-hover-color: #933029;
	--neptune-hover-color: #4d84a6;;
	/* --newsletter-gap: 133px; */
}
